.main-content {
    width: 100%;
    height: 100%;
}
/* .gif-img {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    background-color: #fff;
}
.image {
    width: 290px;
    height: 400px;
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
    border: 0;
    outline: none;
} */

.f-100{
    display: flex;
    justify-content: center;
    margin: 20px auto;
    width: 80vw;
    height: auto;
}

.f-100:first-of-type {
    margin-top: 60px;
}

@media (max-width: 530px) {
    .f-100 {
        width: 90vw;
    }
}
.btn-f {
    width: 60%;
    height: 4rem;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin: 0 auto;
    border: none;
    text-decoration: none;
}
.btn button {
    width: 100%;
    height: 100%;
    color: var(--color-text-light);
    font: 600 1em 'Raleway', sans-serif;
    border-color: transparent;
    cursor: pointer;
    outline: none;
    background: var(--color-text-dark);
}

.btn button:hover {
    box-shadow: 0 5px 5px 0 rgba(118, 116, 116, 0), 0 10px 20px 0 rgba(121, 121, 121, 0.19);
}

/* REPOS */
.f-box {
    display: flex;
    margin: 20px auto;
    width: 80vw;
    height: auto;
}
.f-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
.repos {
    text-align: center;
    max-width: 300px;
    max-height: auto;
    min-height: 350px;
    border-radius: 4px;
}

@media (min-width: 615px) {
    .f-row {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .repos {
        width: 30vw;
    }
}

@media (max-width: 320px) {
    .f-box {
        width: 90vw;
    }
    .repos {
        width: 100%;
        margin: 0 0 10px 0;
        min-height: 300px;
    }
}

@media (min-width: 321px) and (max-width: 613px) {
    .f-box {
        width: 80vw;
    }
    .repos {
        width: 100%;
        margin: 0 0 10px 0;
        max-width: 100%;
    }
}

