.text-area {
  align-items: center;
  padding: 10px;
}
.text-area h2 {
  color: var(--color-text-dark);
  font: 500 2.4em 'Raleway', sans-serif;
  line-height: initial;
}

.text-area p {
  font: 400 2em 'Quicksand', sans-serif;
  color: var(--color-text-dark);
  margin-left: 5px;
  line-height: initial;
}

/* Media queries */
@media (max-width: 399px) {
  .text-area h2 {
    font: 500 2em 'Raleway', sans-serif;
  }
  .text-area p {
  font: 500 1.6em 'Quicksand', sans-serif;
  margin-top: 5px;
  }
}

 @media (min-width: 400px) and (max-width: 530px) {
    .text-area h2 {
      font: 500 2.2em 'Raleway', sans-serif;
  }
    .text-area p {
      font: 500 1.8em 'Quicksand', sans-serif;
      margin-top: 5px;
  }
}
