.section-not-found {
  display: flex;
  align-items: center;
  justify-content: center;

  padding-top: 30px;
}

.section-not-found h1 {
  font-size: 2em;
  font-weight: 800;
  text-transform: uppercase;
}