.content-title-tech {
    display: flex;
    justify-content: center;
    padding: 2rem;
}

.content-title-tech h2 {
    font: 500 3.5rem Roboto;
    color: var(--color-text-dark);
}

.main-techs {
    display: flex;
    flex-direction: row;
    align-items: center;
}
@media (max-width: 1050px) {
    .main-techs {
        display: block;
        padding: 2rem;
    }
}
.main-techs h3 {
    font: 500 2.6rem Roboto;
    margin-right: 10px;
    color: var(--color-text-dark);
}
.main-techs strong {
    font: 300 2rem Roboto;
    color: var(--color-text-dark);
}