.content-info {
    display: block;
    width: 100%;
    height: auto;
}
.content-info  h2 {
    color: var(--color-text-dark);
    font: 500 2.4em 'Raleway', sans-serif;
    line-height: initial;
}
.content-info  p {
    font: 400 2em 'Quicksand', sans-serif;
    color: var(--color-text-dark);
    margin-left: 5px;
    line-height: initial;
}
.content-info strong {
    font: 400 2em 'Quicksand', sans-serif;
    color: var(--color-text-dark);
    margin-left: 5px;
    line-height: initial;
}

.title-name {
    display: flex;
    justify-content: center;
    padding: 1.9rem;
}

.paragraph-text {
    display: inline-block;
    padding: 1rem;
}

.personal-info {
    display: flex;
    flex-direction: column;
}
.personal-info-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.6rem;
}

.personal-info-column {
    display: flex;
    flex-direction: column;
    padding: 0.6rem;
}

/* Media queries */
@media (max-width: 399px) {
    .content-info  h2 {
      font: 500 2em 'Raleway', sans-serif;
    }
    .content-info  p {
      font: 500 1.6em 'Quicksand', sans-serif;
      margin-top: 5px;
    }
    .content-info strong {
      font: 500 1.6em 'Quicksand', sans-serif;
      margin-top: 5px;
    }
    .paragraph-text p {
        text-align: left;
        letter-spacing: 0px;
    }
    .personal-info {
        display: block;
    }
    .personal-info-row {
        display: inline-block;
        flex-direction: column;
    }
}

 @media (min-width: 400px) and (max-width: 530px) {
    .content-info h2 {
      font: 500 2.2em 'Raleway', sans-serif;
  }
    .content-info p {
      font: 500 1.8em 'Quicksand', sans-serif;
      margin-top: 5px;
  }
  .content-info strong {
    font: 500 1.6em 'Quicksand', sans-serif;
  }
}