:root {
    --color-background: #f6f6f6;
    --color-background-dark-light: #f1e7e7;
    --color-background-dark: #cde8f2;
    --color-navbar: #373F47;
    --color-text-dark: #655d5d;
    --color-text-light: #f1e7e7;

    font-size: 60%;
}

.bg-dark-light {
    background-color: var(--color-background-dark-light);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    min-width: 30vw;
    margin: 3.2rem;
    list-style: none;
}

body {
    background: var(--color-background);
}

a {
    color: var(--color-text-dark);
    font: 500 1.8rem 'Raleway', sans-serif;
}

#root {
    width: 100%;
    height: 100%;
    display: flex;
}
