:root {
    --color-background: #6C91C2;
    --color-background-light: #C3C9E9;
    --color-navbar: #373F47;
    --color-text-dark: #373F47;
    --color-text-light: #C3C9E9;

    font-size: 60%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--color-background);
}

html, body, #root {
    height: 100vh;
}

body, textarea {
    font: 500 1.6rem Roboto;
    color: var(--color-navbar);
}

#root {
    width: 100%;
    height: 100%;
    display: flex;
}
